:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --nav-color: aqua;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --background-color: #f9f7fe;
}

body {
  margin-top: 100px
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.navbar {
  background-color: var(--nav-color);
}

.navigation-links .btn {
  color: white;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 160px 0;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
}
.hero p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #272142;
}
